.pagination_bar {
  height: 100px;
}
.paginationBtn {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.paginationBtn a {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #8d8d92;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.paginationBtn a:hover {
  color: white;
  background-color: #8f996e;
}

.paginationActive a {
  color: white;
  background-color: #1a803c;
}

.paginationDisabled a {
  color: rgb(114, 111, 111);
  background-color: rgb(160, 159, 159);
}
